<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://www.digicert.bo/sites/all/themes/zap/logo.png" alt="Digicert">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<section class="container mt-3">
  <article class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-center">Hash calculator</h1>
      <form class="mt-3">
        <div class="form-group custom-file">
          <label for="fileToHash" class="custom-file-label">{{fileTitle}}</label>
          <input type="file" class="custom-file-input" id="fileToHash" name="fileToHash"
                 (change)="onSelectFile($event)">
        </div>
        <div class="form-group mt-2">
          <label for="calculatedHash">Calculated Hash</label>
          <input [ngModel]="calculatedHash" name="calculatedHash" type="text" class="form-control" id="calculatedHash"
                 disabled>
        </div>
        <button type="submit" class="btn btn-primary"
                [disabled]="fileToHash == null" (click)="hashFile()">
          Calculate Hash (SHA-256)
        </button>
      </form>
    </div>
  </article>
</section>
